<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">MI PRIMER POST</a></h2>
            <p>Si eres mujer y quieres aprender a desarrollar páginas web tenemos buenas noticias para ti: ¡vamos a celebrar un taller de iniciación de un día en Palma! Podrás aprender los fundamentos de programación en Python y el desarrollo de aplicaciones web.

El evento tendrá lugar el 16 de Febrero de 2019 en el campus de la UIB. Avisaremos del sitio exacto.

Desde Django Girls creemos firmemente en la necesidad de que la mujer tenga más presencia en el sector tecnológico. Por ello, queremos darte la oportunidad de aprender a programar y convertirte en una de nosotras, ¡mujeres programadoras!

El taller es totalmente gratuito. Si no te puedes costear los gastos de desplazamiento, pero deseas asistir para aprendar y compartir conocimiento, contacta con nosotras e intentaremos ayudarte.!</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>El lunes empiezo a programar.</p>
        </div>
    </body>
</html>
